
/* стилі, що наслідуються*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--slate-color);
    background-color: var(--white-color);
    line-height: 1.5; /*24px*/ 
    letter-spacing: 0.02em; /*0.32px*/
}

/* скидаємо дефолтні стилі браузера*/
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
} 

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/*сss-змінні*/
:root {
    --first-level-title-color: #fff;
    --secondary-third-level-title-color: #2E2F42;
    --slate-color: #434455;
    --navyblue-color: #2E2F42;
    --iris-color: #4D5AE5;
    --white-color:#FFFFFF;
    --ocean-color:#404BBF;
    --cloud-color:#F4F4FD;
    --light-slate-color: #8E8F99;
    --green-color: #31D0AA;

}

/* створюємо клас контейнер*/
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;    
}


/*стилізація*/
/*заголовки*/
.title-first-level {
    font-size: 56px;
    line-height: 1.07;  /*60px*/
    color: var(--first-level-title-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    letter-spacing: 0.02em; /*0.32px*/  /*it was mistarke*/
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.title-secondary-level {
    font-size: 36px;
    line-height: 1.11; /* 111.111%   40px*/
    color: var(--secondary-third-level-title-color);
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em; /*0.32px*/  /*it was mistarke*/
    margin-bottom: 72px;
}

.title-third-level {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120%  24px*/
    color: var(--secondary-third-level-title-color);
    letter-spacing: 0.02em; /*0.32px*/ /* it was mistake*/
}

/* nav*/

.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
       /* logo*/
.logotype-text-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667%   21px*//*mistake 1.16 was*/ 
    letter-spacing: 0.03em;  /* 0.54px*/
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
}

.logotype-text-studio {
    color: #2e2f42;
}
         /*menu-посилання*/ 
.menu-list .menu-item-link {
    font-weight: 500;
    color: var(--navyblue-color);
    padding: 24px 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .menu-item-link:hover,
.menu-list .menu-item-link:focus {
    color: var(--ocean-color);    /* it was mistake*/
}



.menu-item .is-active {
    color: var(--ocean-color);
    position: relative; /*it was mistake*/
}

.menu-item .is-active::after {
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;  /*it was mistake*/ 
}

.main-navigation {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 40px;
}

         /*контакти*/
.page-contacts {
    font-style: normal; 
}
    
.page-contacts .contacts-item-link {
    color: var(--slate-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-contacts .contacts-item-link:hover,
.page-contacts .contacts-item-link:focus {
    color: var(--ocean-color);
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* section hero*/
.segment-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), 

    
    url(../images/people-office-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--navyblue-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    max-width: 1440px; /*it was mistake*/
}

/*приховуємо контент*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/*section our advantages*/

.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-item-title {
    margin-bottom: 8px;
}

.our-advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--light-slate-color);
    background-color: var(--cloud-color);
}

/* section our team */
.segment-our-team {
    background-color: var(--cloud-color);

}
.our-team-list {
    display: flex;
    gap: 24px;
}

.our-team-item {
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    /*box-shadow: 0px 1px 1px 0px rgba(0, 0, 255, .2);*/
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; /*it was mistake*/

}



.name-value-container {
    padding: 32px 0;
}

.our-team-title {
    margin-bottom: 8px;
    text-align: center;
}

.our-team-text {
    text-align: center;
    margin-bottom: 8px;
}

.social-list-our-team {  
    gap: 24px;
}

.social-link-our-team {
    background-color: var(--iris-color);  
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .social-link-our-team:hover,
 .social-link-our-team:focus {
    background-color: var(--ocean-color);
  }

  .icon-our-team {
    fill: var(--cloud-color);
  }

/*button*/
.btn-hero {
    font-weight: 500;
    letter-spacing: 0.04em; /* 0.64px*/
    color: var(--white-color);
    background-color: var(--iris-color);
    border: none;
    line-height: 1.5; /*24px*/ /*it was mistake*/
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
    background-color: var(--ocean-color);
}



/* розташування блоків*/

.section {
    padding: 120px 0;
}


/*section our portfolio*/ 

.our-portfolio-list-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-item {
    width: calc((100% - 48px) / 3);
    border-bottom: 1px solid rgba(46%, 47%, 66%, 8%);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.app-name-category-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-name-category-title {
    margin-bottom: 8px;
}

.our-portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
}

.our-portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover .our-portfolio-item-overlay {
    transform: translateY(0%);
} 

.text-our-portfolio-overlay {
    padding: 40px 32px;
    color: var(--cloud-color);
}

/*page footer*/
.page-footer {
    background-color: var(--navyblue-color);
    padding: 100px 0;
}

.footer-text {
    color: var(--cloud-color);
    width: 264px;
}

.logotype-text-studio-footer {
    color: var(--cloud-color);
}

.logotype-link-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer-container {
    display: flex;
    gap: 120px;
    align-items: baseline;  
}

.footer-logo {
    margin-right: 120px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list-footer {  
    gap: 16px;
}



.social-link  {
   font-size: 0px;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-link-footer {
   background-color: var(--iris-color);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--green-color);
 }

.social-item {   
    width: 40px;
    height: 40px;
}

.icon-social {
    fill: var(--cloud-color);
}

.footer-social-text {
font-weight: 500;
color: var(--white-color);
margin-bottom: 16px;
}